*{
    text-shadow: 0 1px 0 #059 !important;
}
.header{
    height: 10vh;
    margin: 0!important;
    padding: 0!important;
    border: 0 !important;
    background-color: #3f51b5 !important;
    color: white !important;
}

.navbar{
    background-color: #3f51b5 !important;
    color: white !important;
    text-shadow: 0 1px 0 #059 !important;
    border: none !important;
    float: right;
    width: 20vw;
}
.navbar:hover{
    background-color: #3F51AD !important;
    color: white !important;
}

.navbar:active{
    background-color: #3F51AD !important;
    color: white !important;
}

.content{
    height: 80vh;
    margin: 0!important;
    padding: 0!important;
    border: 0 !important;
    background-color: #eee;
}

.footer{
    height: 10vh;
    margin: 0!important;
    padding: 0!important;
    border: 0 !important;
    background-color: #3f51b5 !important;
    
    color: white !important;
}

#rubik{
    margin-top:20px;
    margin-left: 20px;
}

#face{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;;
    border: 5px black;
}

.square{
    float: left;
    height: 32%;
    width: 32%;
    border: solid black 1px;
    background: rgb(5, 140, 7);
    cursor: pointer;
}



#color-pickers-tab{
    height: 5vh;
    width: 65vw;
    margin: auto;
}

.color-picker{
    margin-left: 1vw !important;
    margin-right: 1vw !important;
    border: 1px black solid !important; 
    float:left !important;
    height: 5vh !important;
    width: 8vw !important;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
   float: none;
   text-align:center !important;
   margin-left:auto !important;
   margin-right:auto !important;
   white-space: nowrap !important;
   width: 100%;
}

#left-face{
    float: right;
    height: 100%;
    width:30%;
    background-color: rgb(255, 127, 0);
}

#right-face{
    float: left;
    height: 100%;
    width:30%;
    background-color: rgb(225, 0, 0);
}

.inline-block{
    display: inline-block;
}

.inline-element{
    float: left;
}

.value{
    margin-left: 2px;
}

.btn-transparent{
    background-color:transparent !important;    
}

.btn-transparent:hover{
    background-color: hsla(0,0%,60%,.2) !important;
    border-color: hsla(0,0%,60%,.2) !important;
}